$base-margin: 4px;
$border-color: rgba(115, 175, 244, 1);
$font-hover-color: rgba(18, 91, 174, 1);
$block-background: rgba(248, 248, 250, 1);
$sale-back:rgba(115, 151, 245, 1);
$btn-not-available-color: rgba(170, 170, 170, 1);
$color-white: #fff;
$color-focus-link: rgba(226, 239, 255, 1);
$color-gray: gray;
$color-red: red;
$color-black: black;
$mobile-header-border-color:rgba(213, 213, 213, 1);
